<nz-layout class="home-layout">
  <nz-header>
    <mango-sider *ngIf="frameService.layout === 'topMenu'"></mango-sider>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider *ngIf="frameService.layout === 'sideMenu'" nzWidth="200px">
      <mango-sider></mango-sider>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
        <button nz-button nzType="primary" (click)="console()">console</button>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<mango-settings></mango-settings>
